@import 'variables';
@import 'font';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  background-image: linear-gradient(to right, #e22865, #37adcd);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
header {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  & h1{
    font-size: 40px;
    font-weight: 600;
    color: $textColor;
  }
}
main {
  position: relative;
  min-width: 200px;
  width: 500px;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 10px;
  
}

.task {
  margin-top: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 10px #000;
  color: $textColor;
  font-size: 30px;
  word-break: break-all;
  border: 1px solid rgb(44, 27, 27);
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
  & i{
    line-height: 1.8;
    color: $inactiveColor;
    cursor: pointer;
  }
}

.completed-i{
  color: $activeColor !important;
}
.completed-p{
  color: $inactiveColor;
  text-decoration: line-through;
}
.add{
  display: flex;
  margin-top: 10px;
  width: 100%;
  &__btn{
    padding: 5px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    cursor: pointer;
  }
  &__text{
    padding: 5px;
    width: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }
  &__text::placeholder {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.4;
  }
}

@media screen and (max-width: 450px) {
  header, main  {
    width: 350px;
  }
}
